.container {
    box-shadow: 4px 4px 6px -1px rgba(160, 160, 160, 0.82);
    text-align: center;
    padding-top: 10px;
    overflow: hidden;
}

.ButtonPos {
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}

.timeLog {
    color: #00739d;
    cursor: pointer;

}

.table {
    height: 35vw;
}

b {
    font-size: 15px;
}

li {
    list-style-type: none;
}

.iframeBox {
    position: absolute;
    width: 100%;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
}

.reactplayer {
    position: absolute;
    top: 262px;
}

.result {
    padding-top: 30px;
    width: 700px;
}

.logBox {
    width: 25%;
    overflow: auto;
}

.log_font {
    font-size: 16px;
    font-family: "nanum";
}